@font-face {
    font-family: 'Gill Sans';
    src: URL('fonts/GIL_____.TTF') format('truetype');
  }


.admin-login{
    width:150px;
    height: 50px;
    border: none;
    background-color: #62B145;
    color: white;
    border-radius: 2px;
  }
  .dash-body{
      background-color: #f4f4f4;
      transition: margin-left .5s;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: 100vh;
      overflow-y: auto;
  }
  .font-gill {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  }
  .side-nav{
      height: 100vh;
      width: 0;
      background-color:#1a5276;
      color: white;
      position: fixed;
      z-index: 10000;
      background-color:#1d8348;
      transition: 0.5s;
      overflow-x: hidden;
  }
  .admin-header{
      width: 100%;
      height: 50px;
      background-color:#62B145;
  }
  .close-btn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  .bundle-alert{
      display: none;
  }
  .side-nav-items{
    display: block;
    transition:0.3s;
    padding-left:10px;
    cursor: pointer;
}
.side-nav-items:hover{
    color:#283891;
}
.tab-headers{
    text-align: center;
    color:#283891;
}
.head-tags{
    text-align: center;
}
.sections{
    width: 100%;
    height:400px;
    padding:30px;
    background-color:white;
    border-radius: 2.4px;
}
.text-bx{
    height:40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid green;
}   
.unit-warning{
    height:auto;
    width: 50%;
    padding:4px;
    border-radius:3px;
    color:white;
    border: 1px solid red;
    margin: auto;
    background-color:rgb(161, 35, 35);
}
.admin-buttons{
    width: 35%;
    height: 35px;
    border: none;
    color: white;
    background-color:#283891;
    border-radius: 3px;
}
.personal-all-table{
    /* table-layout: fixed; */
    width: 100%;
}
.unapp{
    table-layout: fixed;
    width: 100%; 
}
/* .personal-all-table td{
    word-wrap: break-word;
} */
.action-buttons{
    border: none;
    color: white;
    padding: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 3px;
}
#note{
    display: none;
}
.self-alert{
    width: 250px;
    height: 50px;
    margin-top: 32px;
    background-color: rgb(219, 7, 7);
    margin-left: 60%;
    position: fixed;
    border-radius: 3px;
    padding: 10px;
    font-size: small;
    display: none;
    z-index:2000;
    font-weight: bold;
    color: white;
}
.self-alert2{
    width: 250px;
    height: 50px;
    margin-top: 32px;
    background-color: rgb(38, 182, 2);
    margin-left:60%;
    position: fixed;
    border-radius: 3px;
    padding: 10px;
    font-size: small;
    display: none;
    font-weight: bold;
    z-index:2000;
    color: white;
}
.accordions{
    width: 95%;
    margin: auto;
}
.class-header{
    color: white;
    border: none;
    text-decoration: none !important;
background-color:#62B145;
}
.class-header:hover{
    background-color:#62B145;
}
.search-box{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #62B145;
    padding: 5px;
}
.search-result{
    width: 100%;
    min-height: 100px;
    background-color: white;
    display: none;
    background-color: rgb(196, 233, 233);
}